{% extends "layout.html" %}

{% block title %}Contact Me - Investment Insights{% endblock %}

{% block content %}
    <div style="margin-top: 3rem;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Contact Me</h5>
              <h6 class="card-subtitle mb-2 text-muted">Feel free to reach out to me for any inquiries or feedback!</h6>
              <p class="card-text">Email: msaimbutt799@gmail.com</p>
              <a href="https://www.instagram.com/saimbutt799/" class="card-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://github.com/Saimbutt799" class="card-link"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
    </div>
{% endblock %}
