{% extends "layout.html" %}

{% block title %}Features - Investment Insights{% endblock %}

{% block content %}
    <div class="features">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Features</h5>
            <h6 class="card-subtitle mb-2 text-muted">I will continue to add features.</h6>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Net Present Value (NPV) Calculation
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Net Present Value (NPV) Calculation:</strong> Calculate the NPV of your investments using initial investment, cash flows, and discount rate.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Payback Period Calculation
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Payback Period Calculation:</strong> Determine the payback period for your investments to understand how long it takes to break even.
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
