{% extends "layout.html" %}

{% block title %}Pricing - Investment Insights{% endblock %}

{% block content %}
    <div style="margin-top: 3rem;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">It's Free!!!</h5>
              <h6 class="card-subtitle mb-2 text-muted">reallyy!</h6>
              <p class="card-text">I built this because I was tired of having to calculate the NPV manually over and over again for my A level Accounting work. Hence this is available freely for everyone to make their lives easier.</p>
              <a href="/" class="card-link">home</a>
              <a href="/features" class="card-link">features</a>
            </div>
          </div>
    </div>
{% endblock %}
